.form-page-container {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  justify-content: flex-start;
  .search-area {
    flex: 1;
    .spinner-area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30vh;
    }
    .not-found-area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30vh;
    }
    .search-results {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .search-result {
        width: 50%;
        display: flex;
        align-items: center;

        span {
          margin-left: 12px;
        }

        &:hover {
          background: lightgrey;
          cursor: pointer;
        }
      }
    }
  }

  .input-area {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 48px;
    margin-top: 48px;
    margin-bottom: 12px;

    .search-filter-input {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: white;
      padding: 0 18px;
      border-radius: 20px;
      position: relative;
      top: 5px;
      z-index: 100;
      width: 50%;
      border: 1px solid black;

      .search-input {
        width: 100%;
        border: 0;
        outline: 0;
        padding: 14px;
      }

    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    flex: 1;

    mat-form-field {
      margin-top: 20px;
      width: 300px;
    }

    .submit-button {
      background: #f5c518;
      border: 0;
      width: 100px;
      height: 40px;
      cursor: pointer;
      margin-top: 32px;
    }
  }
}
